/*begin-old-version{{*/
body 
{
	margin:8px;
	padding:0;
	margin-top:0;
}

p {
	padding: 0;
	margin: 23px 0;
}



a, a:hover
{
	cursor:pointer;
}
pre {
	margin: 0;
}
.pageHeader {
	COLOR: #000000;
	FONT-FAMILY: "Trebuchet MS",Helvetica,sans-serif;
	FONT-WEIGHT: normal;
	FONT-SIZE: 19pt;
}
.header, .header1 {
	COLOR: #363637;
	FONT-FAMILY: "Trebuchet MS",Helvetica,sans-serif;
	FONT-WEIGHT: normal;
	FONT-SIZE: 13pt;
	background: #F9F9FB;
}
.headerwhite {
	COLOR: #FFFFFF;
	FONT-FAMILY: "Trebuchet MS",Helvetica,sans-serif;
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
}
.headingtable {
	COLOR: #FFCC00;
	FONT-FAMILY: "Trebuchet MS",Helvetica,sans-serif;
	FONT-SIZE: 10pt;
	FONT-WEIGHT: bold;
	PADDING-TOP: 5px;
	PADDING-BOTTOM: 5px;
}
.text {
	COLOR: #333333;
	FONT-FAMILY: "Trebuchet MS",Helvetica,sans-serif;
	LINE-HEIGHT: 17pt;
	FONT-SIZE: 10pt;
	padding: 0;
}
.textBold {
	COLOR: #5d5d5d;
	FONT-FAMILY: "Trebuchet MS",Helvetica,sans-serif;
	FONT-SIZE: 10pt;
	FONT-WEIGHT: bold;
}
.textwhite {
	COLOR: #FFFFFF;
	FONT-FAMILY: "Trebuchet MS",Helvetica,sans-serif;
	FONT-SIZE: 10pt;
	FONT-WEIGHT: bold;
}
blockquote, .highlightBlock {
	BACKGROUND: #f7f9fb;
	COLOR: #333333;
	BORDER: 1px solid #eff1f3;
	FONT-FAMILY: "Trebuchet MS",Helvetica,sans-serif;
	FONT-SIZE: 10pt;
	PADDING: 10px;

}
div.highlightBlock {
	margin-top:23px;
}
.highlightBlock .nomargin{
	margin:5px 0;
}


.highlightBlock  a{
	border-bottom:none;
	text-decoration:none;
}


.imageCaption {
	COLOR: #291E40;
	FONT-FAMILY: "Trebuchet MS",Helvetica,sans-serif;
	FONT-SIZE: 10pt;
}
.imageBorder {
	BORDER: 1px solid #dcdfe2;
}
.codeBlock {
	/*BACKGROUND: #FFFCF0;*/
	background: #fefcfa;
	COLOR: #291E40;
	FONT-FAMILY: Courier New;
	FONT-SIZE: 90%;
	PADDING: 10px;
}
.codeComment {
	COLOR: #007F00;
}
.codeInline, 
.CodeInline {
	COLOR: #6e6595 !important;
	FONT-FAMILY: "Courier New",Geneva,Arial,Helvetica,sans-serif !important;
	/*FONT-SIZE: 12px !important;*/
	FONT-SIZE: 100% !important;
	LETTER-SPACING: -0.2pt !important;
}
A {
	COLOR: #777b7e;
	TEXT-DECORATION:none;
	border-bottom: 1px dotted #777b7e;
}
A:hover {
	COLOR: #f89527;
	text-decoration: none;
	border-bottom: 1px dotted #f89527;
}


A.imagelink {
	border-bottom: none;
}

.trVeryLightYellowBg {
	BACKGROUND: #f9f9fb;
}

.trVeryLightGrayBg, .trVeryLightGrayBg td  {
	BACKGROUND: #f9f9fb;
}

.veryLightYellowBg {
	BACKGROUND: #FFFCF0;
}


.lightBlueTr {
	BACKGROUND: #E0E9ED;
	FONT-FAMILY: "Trebuchet MS",Helvetica,sans-serif;
	FONT-SIZE: 10pt;
}
.greyBorderTable {
	BORDER: 1px solid #f1f1f1;
}
.yellowBorderTable {
	BORDER: 1px solid #FCCC22;
}
.blueTr {
	BACKGROUND: #94B0BE;
	FONT-FAMILY: "Trebuchet MS",Helvetica,sans-serif;
	FONT-SIZE: 10pt;
}
.greyTr {
	BACKGROUND: #F1f1f1;
}
.darkGreyTr {
	BACKGROUND: #999999;
}
.formtable {
	COLOR: #291E40;
	FONT-FAMILY: "Trebuchet MS",Helvetica,sans-serif;
	FONT-SIZE: 10pt;
	FONT-WEIGHT:none;
}
.textbox {
	BACKGROUND: #F8F8F8;
	BORDER: 1px solid #999999;
	COLOR: #999999;
	FONT-FAMILY: "Trebuchet MS",Helvetica,sans-serif;
	FONT-SIZE: 11px;
}
.button {
	BACKGROUND: #F8F8F8;
	BORDER: 1px solid #999999;
	COLOR: #999999;
	FONT-FAMILY: "Trebuchet MS",Helvetica,sans-serif;
	FONT-SIZE: 11px;
	FONT-WEIGHT: bold;
}
.borderBottom {
	border-bottom:1px solid #cccccc;
}
/* end existing css */
/* added new css 03-08-2010 */
table.table {
	border-collapse: collapse;
}
table.table, table.table th, table.table td {
	border: 1px solid #e3e2e2;
}
table.table td {
	font: normal 10pt/14pt "Trebuchet MS",Helvetica,sans-serif;
	color: #333333;
	padding: 5px;
}
table.table td strong {
	font-weight: bold;
}
table.table td.header {
	background: #f1f1f6 !important;
	font: bold 10pt/17pt "Trebuchet MS",Helvetica,sans-serif;
	font-weight: bold !important;
	color: #5d5d5d !important;
}
ul {
	/*padding: 10px 0 10px 15px;*/
	padding: 0 0 0 15px;
	margin: 0;
	list-style: none;
	list-style-type: none;
}
ul li {
	padding: 0 0 0 13px;
	margin: 0 0 3px 0;
	list-style: none;
	list-style-type: none;
	list-style-position: outside;
	background: url(../../../Images/list_arr.gif) no-repeat 0 6px;
	font: normal 10pt/17pt "Trebuchet MS",Helvetica,sans-serif;
	color: #000000;
}
ul li a {
	font-weight: normal;
	color: #777b7e;
	text-decoration: none;
	border-bottom: 1px dotted #777b7e;
}
ul li a:hover {
	color: #f89527;
	text-decoration: none;
	border-bottom: 1px dotted #f89527;
}



ul li ul li {
	padding: 0 0 0 14px;
	margin: 0 0 3px 0;
	list-style: none;
	list-style-type: none;
	list-style-position: outside;
	background: url(../../../Images/list_dash.gif) no-repeat 0 11px;
	font: normal 10pt/17pt "Trebuchet MS",Helvetica,sans-serif;
	color: #000000;
}
/* collapsible panel */
.msg_handler {
}
.msg_body {
	padding: 5px;
}
/* jquery tabbed panel */
ol.tabs, ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 33px;
	*height: 32px !important;
	border-bottom: 1px solid #fddca3;
	border-left: 1px solid #fddca3;
	width: 100%;
}
ol.tabs li,ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 32px;
	line-height: 32px;
	border: 1px solid #fddca3;
	border-left: none;
	*margin-bottom: -1px !important;
	background: #fefcfa;
	overflow: hidden;
	position: relative;
}
ol.tabs li a , ul.tabs li a {
	text-decoration: none;
	color: #2f376f;
	display: block;
	font-size: 10pt;
	padding: 0 20px;
	outline: none;
	border-bottom: none;
}
ol.tabs li a:hover, ul.tabs li a:hover {
	background: #fefcfa;
	color: #ff7618;
}	
html ol.tabs li.active, html ol.tabs li.active a, html ol.tabs li.active a:hover,html ul.tabs li.active, html ul.tabs li.active a, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #fefcfa !important;
	border-bottom: 1px solid #fefcfa; /*--Makes the active tab look like it's connected with its content--*/
	color: #ff7618;
}
.tab_container {
	border: 1px solid #fddca3;
	border-top: none;
	clear: both;
	float: left; 
	width: 100%;
	background: #fefcfa;
}
.tab_content {
	padding: 10px;
}
/* jquery tabbed panel end */
pre.prettyprint, .code_container {/* for styling prettyprint code section */
	background:#FEFCFA;
	border:1px solid #FDDCA3;
	padding: 10px;
}
/* ol list */
ol {
	/*padding: 10px 0 10px 40px;*/
	padding: 0 0 0 40px;
	/**padding: 10px 0 10px 45px !important;*/
	*padding: 0 0 0 45px !important;
	margin: 0;
	list-style: none;
	list-style-type: none;
}
ol li {
	padding: 0;
	margin: 0 0 3px 0;
	list-style: decimal;
	list-style-type: decimal;
	background: none;
	font: normal 10pt/17pt "Trebuchet MS",Helvetica,sans-serif;
	color: #000000;
}
ol li a {
	font-weight: normal;
	color: #777b7e;
	text-decoration: none;
	border-bottom: 1px dotted #777b7e;
}
ol li a:hover {
	color: #f89527;
	text-decoration: none;
	border-bottom: 1px dotted #f89527;
}
ol li ul li {
	padding: 0 0 0 14px;
	margin: 0 0 3px 0;
	list-style: none;
	list-style-type: none;
	list-style-position: outside;
	background: url(../../../Images/list_dash.gif) no-repeat 0 11px;
	font: normal 10pt/17pt "Trebuchet MS",Helvetica,sans-serif;
	color: #000000;
}
/* ol list end */
.text-light {
	/*color: #e2e2e8 !important;*/
	color: #a2a2a8 !important;
}
body, table, table tr td {
	FONT-FAMILY: "Trebuchet MS",Helvetica,sans-serif;
	LINE-HEIGHT: 17pt;
	FONT-SIZE: 10pt;
}
pre.prettyprint { 
 font-size:100% !important ;
	width:auto !important ;
	white-space:pre-wrap !important;
	overflow:auto;
}
.darkYellowTr {
	BACKGROUND: #FCCC22;
}
.lightYellowTr {
	BACKGROUND: #fbfbfc;
}
/* end existing css */

/* jquery tabbed panel end */
.code_container {/* for styling prettyprint code section */
	background:#FEFCFA;
	border:1px solid #FDDCA3;
	padding: 10px;
}
/* call to action */
span.call_to_action { 
	background: url(../Images/button-qua-right.jpg) no-repeat top right;
	color: #777B7E !important;
	font: normal 100% Verdana, Geneva, sans-serif;
	height: 21px;
	*height: 26px !important;
	vertical-align: middle;
	padding: 5px 13px 0 0;
	*padding: 3px 13px 0 0 !important;
	text-decoration: none;
	display: inline-block;
	*display: inline !important;
	*zoom: 1;
}
span.call_to_action a {
	color: #777B7E;
	font: normal 100% "Trebuchet MS",Helvetica,sans-serif;
	text-decoration: none;
	border-bottom: none;
}
span.call_to_action a:hover {
	text-decoration: none ;
	color: #f89527;
	border-bottom: none;
}
span.call_to_action img {
	vertical-align: top;
	margin: 1px 0 0 0;
	*margin: 3px 0 0 0 !important;
}

	
pre.prettyprint { 
 	font-size:100% !important ;
	width:auto !important ;
	white-space:pre-wrap !important;
	
	overflow:auto;
}
/* back to top button */
span.back_to_top {
	color: #777B7E !important;
	font: normal 100% Verdana, Geneva, sans-serif;
	height: 21px;
	*height: 26px !important;
	vertical-align: middle;
	padding: 5px 13px 0 0;
	*padding: 3px 13px 0 0 !important;
	text-decoration: none;
	display: inline-block;
	*display: inline !important;
	*zoom: 1;
	background-image:none !important;
}
span.back_to_top a {
	color: #777B7E;
	font: normal 100% "Trebuchet MS",Helvetica,sans-serif;
	text-decoration: none;
	border-bottom: none;
}
span.back_to_top a:hover {
	text-decoration: none ;
	color: #f89527;
	border-bottom: none;
}
span.back_to_top img {
	vertical-align: top;
	margin: 1px 0 0 0;
	*margin: 3px 0 0 0 !important;
}

/*}}end-old-version*/
a,
a:hover {
	cursor: pointer;
}
.pageHeader {
	color: #000000;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: normal;
	font-size: 19pt;
}
.header {
	color: #363637;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: normal;
	font-size: 13pt;
	background: #F9F9FB;
}
.headerwhite {
	color: #ffffff;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10px;
}
.headingtable {
	color: #FFCC00;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
}
.text {
	color: #333333;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	line-height: 17pt;
	font-size: 10pt;
	padding: 0;
}
.textBold {
	color: #5d5d5d;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
}
.textwhite {
	color: #ffffff;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
}
.imageCaption {
	color: #291E40;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 10pt;
}
.imageBorder {
	border: 1px solid #dcdfe2;
}
.codeBlock {
	background: #fefcfa;
	color: #291E40;
	font-family: "Courier New";
	font-size: 90%;
	padding: 10px;
}
.codeComment {
	color: #007F00;
}
.codeInline, 
.CodeInline {
	color: #6e6595	 ! important ;
	font-family: "Courier New", Geneva, Arial, Helvetica, "sans-serif "	 ! important ;
	font-size: 100%	 ! important ;
	letter-spacing: -0.2pt	 ! important ;
}
A {
	color: #777b7e;
	border-bottom: 1px dotted #777b7e;text-decoration: none;
}
A:hover {
	color: #f89527;
	border-bottom: 1px dotted #f89527;text-decoration: none;
}
A.imagelink {
	border-bottom: none;
}
.trVeryLightYellowBg {
	background: #f9f9fb;
}
.trVeryLightGrayBg,
.trVeryLightGrayBg td {
	background: #f9f9fb;
}
.veryLightYellowBg {
	background: #FFFCF0;
}
.lightBlueTr {
	background: #E0E9ED;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 10pt;
}
.greyBorderTable {
	border: 1px solid #f1f1f1;
}
.yellowBorderTable {
	border: 1px solid #FCCC22;
}
.blueTr {
	background: #94B0BE;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 10pt;
}
.greyTr {
	background: #F1f1f1;
}
.darkGreyTr {
	background: #999999;
}
.formtable {
	color: #291E40;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: none;
}
.textbox {
	background: #F8F8F8;
	border: 1px solid #999999;
	color: #999999;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 11px;
}
.button {
	background: #F8F8F8;
	border: 1px solid #999999;
	color: #999999;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}
.borderBottom {
	border-bottom: 1px solid #cccccc;
}
table.table {
	border-collapse: collapse;
}
table.table,
table.table th,
table.table td {
	border: 1px solid #e3e2e2;
}
table.table td {
	font: normal "10pt/14pt" "Trebuchet MS" Helvetica sans-serif;
	color: #333333;
	padding: 5px;
}
table.table td.header {
	background: #f1f1f6	 ! important ;
	font: bold "10pt/17pt" "Trebuchet MS" Helvetica sans-serif;
	font-weight: bold	 ! important ;
	color: #5d5d5d	 ! important ;
}
ul {
	padding: 0 0 0 15px;
	margin: 0;
	list-style: none;
	list-style-type: none;
}
ul li {
	padding: 0 0 0 13px;
	margin: 0 0 3px 0;
	list-style: none;
	list-style-type: none;
	list-style-position: outside;
	background: url(../../../Images/list_arr.gif) no-repeat 0 6px;
	font: normal "10pt/17pt" "Trebuchet MS" Helvetica sans-serif;
	color: #000000;
}
ul li a {
	font-weight: normal;
	color: #777b7e;
	border-bottom: 1px dotted #777b7e;text-decoration: none;
}
ul li a:hover {
	color: #f89527;
	border-bottom: 1px dotted #f89527;text-decoration: none;
}
ul li ul li {
	padding: 0 0 0 14px;
	margin: 0 0 3px 0;
	list-style: none;
	list-style-type: none;
	list-style-position: outside;
	background: url(../../../Images/list_dash.gif) no-repeat 0 11px;
	font: normal "10pt/17pt" "Trebuchet MS" Helvetica sans-serif;
	color: #000000;
}
.msg_handler {
}

ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 33px;
	*height: 32px	 ! important ;
	border-bottom: 1px solid #fddca3;
	border-left: 1px solid #fddca3;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 32px;
	line-height: 32px;
	border: 1px solid #fddca3;
	border-left: none;
	*margin-bottom: -1px	 ! important ;
	background: #fefcfa;
	overflow: hidden;
	position: relative;
}
ul.tabs li a {
	color: #2f376f;
	display: block;
	font-size: 10pt;
	padding: 0 20px;
	outline: none;
	border-bottom: none;text-decoration: none;
}
ul.tabs li a:hover {
	background: #fefcfa;
	color: #ff7618;
}
html ul.tabs li.active,
html ul.tabs li.active a,
html ul.tabs li.active a:hover {
	background: #fefcfa	 ! important ;
	border-bottom: 1px solid #fefcfa;
	color: #ff7618;
}
.tab_container {
	border: 1px solid #fddca3;
	border-top: none;
	clear: both;
	float: left;
	width: 100%;
	background: #fefcfa;
}
.tab_content {
	padding: 10px;
}
.code_container {
	background: #FEFCFA;
	border: 1px solid #FDDCA3;
	padding: 10px;
}
ol {
	padding: 0 0 0 40px;
	*padding: 0 0 0 45px	 ! important ;
	margin: 0;
	list-style: none;
	list-style-type: none;
}
ol li {
	padding: 0;
	margin: 0 0 3px 0;
	list-style: decimal;
	list-style-type: decimal;
	background: none;
	font: normal "10pt/17pt" "Trebuchet MS" Helvetica sans-serif;
	color: #000000;
}
ol li a {
	font-weight: normal;
	color: #777b7e;
	border-bottom: 1px dotted #777b7e;text-decoration: none;
}
ol li a:hover {
	color: #f89527;
	border-bottom: 1px dotted #f89527;text-decoration: none;
}
ol li ul li {
	padding: 0 0 0 14px;
	margin: 0 0 3px 0;
	list-style: none;
	list-style-type: none;
	list-style-position: outside;
	background: url(../../../Images/list_dash.gif) no-repeat 0 11px;
	font: normal "10pt/17pt" "Trebuchet MS" Helvetica sans-serif;
	color: #000000;
}
.text-light {
	color: #a2a2a8	 ! important ;
}
body,
table,
table tr td {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	line-height: 17pt;
	font-size: 10pt;
}
.darkYellowTr {
	background: #FCCC22;
}
.lightYellowTr {
	background: #fbfbfc;
}
.code_container {
	background: #FEFCFA;
	border: 1px solid #FDDCA3;
	padding: 10px;
}
span.call_to_action {
	background: url(../Images/button-qua-right.jpg) no-repeat top right;
	color: #777B7E	 ! important ;
	font: normal 100% Verdana Geneva sans-serif;
	height: 21px;
	*height: 26px	 ! important ;
	vertical-align: middle;
	padding: 5px 13px 0 0;
	*padding: 3px 13px 0 0	 ! important ;
	display: inline-block;
	*display: inline	 ! important ;
	*zoom: 1;text-decoration: none;
}
span.call_to_action a {
	color: #777B7E;
	font: normal 100% "Trebuchet MS" Helvetica sans-serif;
	border-bottom: none;text-decoration: none;
}
span.call_to_action a:hover {
	color: #f89527;
	border-bottom: none;text-decoration: none;
}
span.call_to_action img {
	vertical-align: top;
	margin: 1px 0 0 0;
	*margin: 3px 0 0 0	 !important ;
}
p.back_to_top, span.back_to_top {
	color: #777B7E	 !important;
	height: 21px;
	*height: 26px	 !important ;
	vertical-align: middle;
	padding: 5px 13px 0 0;
	*padding: 3px 13px 0 0	 !important ;
	display: inline-block;
	*display: inline	 !important ;
	*zoom: 1;
	background-image: none	 !important ;
	text-decoration: none;
}
p.back_to_top a, span.back_to_top a {
	color: #777B7E;
	font-family:Verdana "Trebuchet MS" Helvetica sans-serif;
	border-bottom: none;
	text-decoration: none;
}
p.back_to_top a:hover, span.back_to_top a:hover {
	color: #f89527;
	border-bottom: none;
	text-decoration: none;
}
p.back_to_top img, span.back_to_top img {
	vertical-align: top;
	margin: 1px 0 0 0;
	*margin: 3px 0 0 0	 !important ;
}
P.Preformatted {
	line-height: normal;
	margin-bottom: 14pt;
	margin-top: 14pt;
	x-text-tab-stops: repeat 1in;
	white-space: nowrap;
	font-size: smaller;
	font-family: monospace;
	margin: 0;
}
table.table td SPAN.Strong {
	font-weight: bold;
	color: #000000;
	font: normal "10pt/14pt" "Trebuchet MS" Helvetica sans-serif;
}
P.Preformatted-prettyprint {
	line-height: normal;
	margin-bottom: 14pt;
	margin-top: 14pt;
	x-text-tab-stops: repeat 1in;
	font-family: monospace;
	overflow: auto;
	white-space: pre-wrap	 !important ;
	width: auto	 !important ;
	font-size: 100%	 !important ;
	margin: 0;
}


p.breadcrumb
{
    border-bottom: 1px dashed #ccc;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size: 10pt;
	font-weight:none;
	line-height:17pt;
    margin: 0;
	margin-top: 3px;
	margin-bottom: 15px;
    
}

p.breadcrumb a, table.fcfooter a
{
	border-bottom:none;
}


table.fcfooter
{
	margin: 0;
    padding: 0;
	font-size: 12px;
	line-height: 30px;
	padding-right: 5px;
    margin-top: 40px;
    border-top: 1px dashed #ccc;
    text-align:left;
}
table.fcfooter td 
{
	padding:0;
	margin:0;
}

.version-info {
	text-align: right;
	font: normal 7pt "Trebuchet MS",Helvetica,sans-serif;
	color: #e2e2e8;
}



#messageBox {
	BACKGROUND: #F2F0F8;
	COLOR: #6C6A73;
	BORDER: 1px dashed #E3E1E9;
	FONT-FAMILY: "Trebuchet MS",Helvetica,sans-serif;
	FONT-SIZE: 10pt;
	PADDING: 10px;
	margin:10px;

}
#messageBox a{
	color: #655C88;
	border-bottom:none;
	text-decoration:none;
	font-weight:bold;
}

#messageBox a:hover{
	color: #434051;
	border-bottom:1px dotted #434051;
}

#messageBox 
{
	text-align:left;
}


#messageBox #content 
{
	margin-right:20px;
}

#messageBox #close
{
	float:right; 
	width:16px;
	height:100%; 
	background-image:url(../../../Images/close.gif); background-repeat:no-repeat;
	cursor:pointer;
	
}

p.small {
	line-height: 8px;
        margin:1px;
        padding:0;
        font-size:8px;
}
.tableYellowBorder {
	/*BORDER: 1px solid #e3e2e2;*/
	border-collapse: collapse;
}
.tableYellowBorder table, .tableYellowBorder td {
	BORDER: 1px solid #e3e2e2;
	padding: 5px;
}
.trAttHeader {
	BACKGROUND: #f1f1f6;
}
.trGreyBg {
	BACKGROUND: #F1F1F1;
}
.trLightBlueBg {
	BACKGROUND: #f9f9fb;
}
.trDarkGreyBg {
	BACKGROUND: #999999;
}
.trDarkYellowBg {
	BACKGROUND: #FCCC22;
}
.trLightYellowBg {
	BACKGROUND: #f1f1f6;
}
.trVeryLightYellowBg {
	BACKGROUND: #f9f9fb;
}
