@charset "utf-8";
body, table, table tr td {
	font-family: "Trebuchet MS",Helvetica,sans-serif;
	line-height: 17pt;
	font-size: 10pt;
}
p {
    COLOR: #333333;
    FONT-FAMILY: "Trebuchet MS",Helvetica,sans-serif;
    FONT-SIZE: 10pt;
	line-height: 17pt;
	padding: 0;
	margin: 23px 0;
}
pre {
	margin: 0;
}
/*ul, ol {
    COLOR: #000000;
    FONT-FAMILY: "Trebuchet MS",Helvetica,sans-serif;
    FONT-SIZE: 10pt;
}*/
dl {
    COLOR: #333333;
    FONT-FAMILY: "Trebuchet MS",Helvetica,sans-serif;
    FONT-SIZE: 10pt;
	line-height: 17pt;
}

/*ol li a {
    line-height: 17pt;
	color: #272727;
}*/

dt {
	COLOR: #291E40;
	FONT-FAMILY: "Trebuchet MS",Helvetica,sans-serif;
	FONT-SIZE: 10pt;
	
	FONT-WEIGHT: bold;			
}

dl.yellowBullet dt {
 list-style:none;
  background: url(../Images/Bullet.gif) 25px 3px no-repeat;
	padding-left: 40px;
}
dd {
padding: 5px 0;
}
dl.yellowBullet dd {
	padding-bottom: 20px; 
}

h2 {
    COLOR: #291E40;
    FONT-FAMILY: "Trebuchet MS",Helvetica,sans-serif;
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
}

h3 {
    COLOR: #291E40;
    FONT-FAMILY: "Trebuchet MS",Helvetica,sans-serif;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
}

a, .link {
    /*COLOR: #291E40;*/
	color: #272727;
}

a:hover, .link:hover {
    /*COLOR: #FFA000;*/
	color: #f89527;
}

.link { cursor: hand; cursor: pointer; }

blockquote {
    BACKGROUND: #F1F1F1;
    COLOR: #291E40;
    BORDER: 1px solid #291E40;
    FONT-FAMILY: "Trebuchet MS",Helvetica,sans-serif;
    FONT-SIZE: 10pt;
	line-height: 17pt;

    PADDING: 10px;
}

pre.prettyprint {
    BACKGROUND: #FFFCF0;
    COLOR: #291E40;
    FONT-FAMILY: "Courier New";
    FONT-SIZE: 12px;

    PADDING: 10px;
}

/*table th, table td {
    padding: 3px; margin: 0;
    text-align: left;
    vertical-align: top;

    COLOR: #291E40;
    FONT-FAMILY: "Trebuchet MS",Helvetica,sans-serif;
    FONT-SIZE: 8pt;
}*/

.image {
    BORDER: 1px solid #f1f1f1;	
}

.code-inline {
    /*COLOR: #291E40;
	FONT-FAMILY: "Courier New";
	FONT-SIZE: 12px;*/
	COLOR: #777b7e !important;
	FONT-FAMILY: "Courier New",Geneva,Arial,Helvetica,sans-serif !important;
	FONT-SIZE: 12px !important;
	LETTER-SPACING: -0.2pt !important;
}


.visible { display: inherit; }
.hidden { display: none; }

@media print {
    .visible { display: none; }
    .hidden { display: inherit; }
}
/* added new css 03-08-2010 */
table.table {
	border-collapse: collapse;
}
table.table, table.table th, table.table td {
	border: 1px solid #e3e2e2;
}
table.table td {
	font: normal 10pt/14pt "Trebuchet MS",Helvetica,sans-serif;
	color: #333333;
	padding: 5px;
}
table.table td strong {
	font: normal 10pt/14pt "Trebuchet MS",Helvetica,sans-serif;
	color: #000000;
	font-weight: bold;
}
table.table td.header {
	background: #f1f1f6 !important;
	font: bold 10pt/17pt "Trebuchet MS",Helvetica,sans-serif;
	font-weight: bold !important;
	color: #5d5d5d !important;
}
ul {
	/*padding: 10px 0 10px 15px;*/
	padding: 0 0 0 15px;
	margin: 0;
	list-style: none;
	list-style-type: none;
}
ul li {
	padding: 0 0 0 13px;
	margin: 0 0 3px 0;
	list-style: none;
	list-style-type: none;
	list-style-position: outside;
	background: url(../Images/list_arr.gif) no-repeat 0 6px;
	font: normal 10pt/17pt "Trebuchet MS",Helvetica,sans-serif;
	color: #000000;
}
ul li a {
	font-weight: normal;
	color: #777b7e;
	text-decoration: none;
	border-bottom: 1px dotted #777b7e;
}
ul li a:hover {
	color: #f89527;
	text-decoration: none;
	border-bottom: 1px dotted #f89527;
}
ul li ul li {
	padding: 0 0 0 14px;
	margin: 0 0 3px 0;
	list-style: none;
	list-style-type: none;
	list-style-position: outside;
	background: url(../Images/list_dash.gif) no-repeat 0 11px;
	font: normal 10pt/17pt "Trebuchet MS",Helvetica,sans-serif;
	color: #000000;
}
/* collapsible panel */
.msg_handler {
}
.msg_body {
	padding: 5px;
}
/* jquery tabbed panel */
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 33px;
	*height: 32px !important;
	border-bottom: 1px solid #fddca3;
	border-left: 1px solid #fddca3;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 32px;
	line-height: 32px;
	border: 1px solid #fddca3;
	border-left: none;
	*margin-bottom: -1px !important;
	background: #fefcfa;
	overflow: hidden;
	position: relative;
}
ul.tabs li a {
	text-decoration: none;
	color: #2f376f;
	display: block;
	font-size: 10pt;
	padding: 0 20px;
	outline: none;
	border-bottom: none;
}
ul.tabs li a:hover {
	background: #fefcfa;
	color: #ff7618;
}	
html ul.tabs li.active, html ul.tabs li.active a, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #fefcfa !important;
	border-bottom: 1px solid #fefcfa; /*--Makes the active tab look like it's connected with its content--*/
	color: #ff7618;
}
.tab_container {
	border: 1px solid #fddca3;
	border-top: none;
	clear: both;
	float: left; 
	width: 100%;
	background: #fefcfa;
}
.tab_content {
	padding: 10px;
}
/* jquery tabbed panel end */
.code_container {/* for styling prettyprint code section */
	background:#FEFCFA;
	border:1px solid #FDDCA3;
	padding: 10px;
}
/* ol list */
ol {
	/*padding: 10px 0 10px 40px;*/
	padding: 0 0 0 40px;
	/**padding: 10px 0 10px 45px !important;*/
	*padding: 0 0 0 45px !important;
	margin: 0;
	list-style: none;
	list-style-type: none;
}
ol li {
	padding: 0;
	margin: 0 0 3px 0;
	list-style: decimal;
	list-style-type: decimal;
	list-style-position: outside;
	background: none;
	font: normal 10pt/17pt "Trebuchet MS",Helvetica,sans-serif;
	color: #000000;
}
ol li a {
	font-weight: normal;
	color: #777b7e;
	text-decoration: none;
	border-bottom: 1px dotted #777b7e;
}
ol li a:hover {
	color: #f89527;
	text-decoration: none;
	border-bottom: 1px dotted #f89527;
}
ol li ul li {
	padding: 0 0 0 14px;
	margin: 0 0 3px 0;
	list-style: none;
	list-style-type: none;
	list-style-position: outside;
	background: url(../Images/list_dash.gif) no-repeat 0 11px;
	font: normal 10pt/17pt "Trebuchet MS",Helvetica,sans-serif;
	color: #000000;
}
/* ol list end */
.text-light {
	color: #e2e2e8 !important;
}

body, table, table tr td {
	FONT-FAMILY: "Trebuchet MS",Helvetica,sans-serif;
	LINE-HEIGHT: 17pt;
	FONT-SIZE: 10pt;
}

.pageHeader {
	COLOR: #000000;
	FONT-FAMILY: "Trebuchet MS",Helvetica,sans-serif;
	FONT-WEIGHT: normal;
	FONT-SIZE: 19pt;
}
.header {
	COLOR: #363637;
	FONT-FAMILY: "Trebuchet MS",Helvetica,sans-serif;
	FONT-WEIGHT: normal;
	FONT-SIZE: 13pt;
	background: #F9F9FB;
}
.headerwhite {
	COLOR: #FFFFFF;
	FONT-FAMILY: "Trebuchet MS",Helvetica,sans-serif;
	FONT-WEIGHT: bold;
	FONT-SIZE: 10pt;
}
.headingtable {
	COLOR: #FFCC00;
	FONT-FAMILY: "Trebuchet MS",Helvetica,sans-serif;
	FONT-SIZE: 10pt;
	FONT-WEIGHT: bold;
	PADDING-TOP: 5px;
	PADDING-BOTTOM: 5px;
}
.text {
	COLOR: #333333;
	FONT-FAMILY: "Trebuchet MS",Helvetica,sans-serif;
	LINE-HEIGHT: 17pt;
	FONT-SIZE: 10pt;
	padding: 0;
}
.textBold {
	COLOR: #5d5d5d;
	FONT-FAMILY: "Trebuchet MS",Helvetica,sans-serif;
	FONT-SIZE: 10pt;
	FONT-WEIGHT: bold;
	line-height: 17pt;
}
.textwhite {
	COLOR: #FFFFFF;
	FONT-FAMILY: "Trebuchet MS",Helvetica,sans-serif;
	FONT-SIZE: 10pt;
	FONT-WEIGHT: bold;
}
.highlightBlock {
	BACKGROUND: #f7f9fb;
	COLOR: #333333;
	BORDER: 1px solid #eff1f3;
	FONT-FAMILY: "Trebuchet MS",Helvetica,sans-serif;
	FONT-SIZE: 10pt;
	PADDING: 10px;
}
.imageCaption {
	COLOR: #291E40;
	FONT-FAMILY: "Trebuchet MS",Helvetica,sans-serif;
	FONT-SIZE: 10pt;
}
.imageBorder {
	BORDER: 1px solid #dcdfe2;
}
.codeBlock {
	BACKGROUND: #FFFCF0;
	COLOR: #291E40;
	FONT-FAMILY: Courier New;
	FONT-SIZE: 90%;
	PADDING: 10px;
}
.codeComment {
	COLOR: #007F00;
}
.codeInline, 
.CodeInline {
	COLOR: #6e6595 !important;
	FONT-FAMILY: "Courier New",Geneva,Arial,Helvetica,sans-serif !important;
	FONT-SIZE: 100% !important;
	LETTER-SPACING: -0.2pt !important;
}
A {
	COLOR: #777b7e;
	TEXT-DECORATION:none;
	border-bottom: 1px dotted #777b7e;
}
A:hover {
	COLOR: #f89527;
	text-decoration: none;
	border-bottom: 1px dotted #f89527;
}
A.imagelink {
	border-bottom: none;
}
.trVeryLightYellowBg {
	BACKGROUND: #FFFCF0;
}
.lightBlueTr {
	BACKGROUND: #E0E9ED;
	BORDER-RIGHT:1px solid #94B0BE;
	BORDER-BOTTOM:1px solid #94B0BE;
	FONT-FAMILY: "Trebuchet MS",Helvetica,sans-serif;
	FONT-SIZE: 10pt;
}
.greyBorderTable {
	BORDER: 1px solid #f1f1f1;
}
.yellowBorderTable {
	BORDER: 1px solid #FCCC22;
}
.blueTr {
	BACKGROUND: #94B0BE;
	FONT-FAMILY: "Trebuchet MS",Helvetica,sans-serif;
	FONT-SIZE: 10pt;
}
.greyTr {
	BACKGROUND: #F1f1f1;
}
.darkGreyTr {
	BACKGROUND: #999999;
}
.darkYellowTr {
	BACKGROUND: #FCCC22;
}
.lightYellowTr {
	BACKGROUND: #fbfbfc;
}
.formtable {
	COLOR: #291E40;
	FONT-FAMILY: "Trebuchet MS",Helvetica,sans-serif;
	FONT-SIZE: 9pt;
	FONT-WEIGHT:none;
}
.textbox {
	BACKGROUND: #F8F8F8;
	BORDER: 1px solid #999999;
	COLOR: #999999;
	FONT-FAMILY: "Trebuchet MS",Helvetica,sans-serif;
	FONT-SIZE: 11px;
}
.button {
	BACKGROUND: #F8F8F8;
	BORDER: 1px solid #999999;
	COLOR: #999999;
	FONT-FAMILY: "Trebuchet MS",Helvetica,sans-serif;
	FONT-SIZE: 11px;
	FONT-WEIGHT: bold;
}
.borderBottom {
	border-bottom:1px solid #cccccc;
}
/* end existing css */
.trVeryLightGrayBg, .trVeryLightGrayBg td  {
	BACKGROUND: #f9f9fb;
}
/* call to action */
span.call_to_action { /* to be used in conjunction with 'button' class */
	background: url(../Images/button-qua-right.jpg) no-repeat top right;
	color: #777B7E !important;
	font: normal 100% Verdana, Geneva, sans-serif;
	height: 21px;
	*height: 26px !important;
	vertical-align: middle;
	padding: 5px 13px 0 0;
	*padding: 3px 13px 0 0 !important;
	text-decoration: none;
	display: inline-block;
	*display: inline !important;
	*zoom: 1;
}
span.call_to_action a {
	color: #777B7E;
	font: normal 100% "Trebuchet MS",Helvetica,sans-serif;
	text-decoration: none;
	border-bottom: none;
}
span.call_to_action a:hover {
	text-decoration: none ;
	color: #f89527;
	border-bottom: none;
}
span.call_to_action img {
	vertical-align: top;
	margin: 1px 0 0 0;
	*margin: 3px 0 0 0 !important;
}
.trLightYellowBg {
	BACKGROUND: #f1f1f6;
}
/* back to top button */
span.back_to_top {
	color: #777B7E !important;
	font: normal 100% Verdana, Geneva, sans-serif;
	height: 21px;
	*height: 26px !important;
	vertical-align: middle;
	padding: 5px 13px 0 0;
	*padding: 3px 13px 0 0 !important;
	text-decoration: none;
	display: inline-block;
	*display: inline !important;
	*zoom: 1;
}
span.back_to_top a {
	color: #777B7E;
	font: normal 100% "Trebuchet MS",Helvetica,sans-serif;
	text-decoration: none;
	border-bottom: none;
}
span.back_to_top a:hover {
	text-decoration: none ;
	color: #f89527;
	border-bottom: none;
}
span.back_to_top img {
	vertical-align: top;
	margin: 1px 0 0 0;
	*margin: 3px 0 0 0 !important;
}



