@charset "utf-8";
#content-area-inner-main {
	width: 950px !important;
}
#gen-map-render {
	text-align: center;	
	margin:5px 50px;
}
#mapdiv {
	width: 100%;
	height: 500px;
	vertical-align:top;
    *display: inline !important;
    *zoom: 1 !important;
}

.redcolor {
	color: #ff0000 !important;	
}


.popupinfo {
	position: absolute;
	bottom: 9px;
	right: 5px;
	height: 19px;
	left: 5px;
	border: 1px solid #666;
	font: 11px/19px normal normal Verdana, Geneva, sans-serif;
	text-align:right;
	padding-right:5px;
}